# OGC 项目依赖
PyQt5>=5.15.0
PyQt5-Qt5>=5.15.2
PyQt5-sip>=12.13.0
PyQt5-stubs>=5.15.6.0
PyQt-Fluent-Widgets>=1.5.6
pyqt-frameless-window>=0.4.7
requests>=2.31.0
httpx>=0.25.0
aiofiles>=23.2.0
beautifulsoup4>=4.12.0
pixivpy3>=3.8.0
